<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
  {{ partial "head.html" . }}
  {{ if .File }}
    {{ $slug := .File.BaseFileName }}
    {{ $cover := index .Site.Data.covers $slug }}
  {{ end }}
  <body>
    <header class="blog-header">
      {{ partial "header.html" . }}
    </header>
    <div class="blog-container">
      <div class="main-content">
        <main>
          {{ block "main" . }}{{ end }}
        </main>
        <aside class="sidebar">
          {{ partial "sidebar.html" . }}
        </aside>
      </div>
      {{ partial "footer.html" . }}
    </div>
    {{ range .Site.Params.plugins_js }}
    <script src="{{ . }}"></script>
    {{ end }}
  </body>

</html>