{{ define "main" }}
<div class="posts h-feed">
  <div class="post-list" role="main">
      {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") }}
      {{ range where $paginator.Pages "Title" "!=" "" }}
      <div class="post-preview h-entry {{ range .Params.categories }} {{ . | urlize | lower }}{{ end }}">
        <header class="post-header">
          <a href="{{ .Permalink }}" class="post-date u-url">
            <time class="dt-published" datetime="{{ .Date.Format "2006-01-02 15:04:05 -0700" }}">{{ .Date.Format "January 2, 2006" }}</time>
          </a>
          <span class="comment-count" id="comment-count-{{ .Title | urlize }}"></span>
          <h2 class="post-title p-name"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        </header>
        {{ if in .RawContent "<!--more-->" }}
          <div class="p-summary">
            {{ $splitContents := split .RawContent "<!--more-->" }}
            {{ $summary := index $splitContents 0 }}
            {{ $summary := replaceRE "\\[\\^.*?\\]" "" $summary }}
            {{ $summary := replaceRE "\\n\\[\\^.*?\\]:.*" "" $summary }}
            <p>{{ $summary | markdownify }}</p>
            <div class="read-more">
              <a href="{{ .Permalink }}">
                Continue reading →
              </a>
            </div>
          </div>
        {{ else }}
          <div class="e-content with-title">
            {{ .Content }}
          </div>
        {{ end }}

        <script>
          document.addEventListener("DOMContentLoaded", function() {
          const targetURL = "{{ .Permalink | safeJS }}"; // Example: "/"
          const targetTitle = "{{ .Title | urlize }}"
          const sanitizedId = `comment-count-${(targetTitle)}`;

          const commentCountDiv = document.getElementById(sanitizedId);
          if (commentCountDiv) {
            fetch(`https://micro.blog/webmention?target=${encodeURIComponent(targetURL)}`)
              .then(response => response.json())
              .then(data => {
                const replyCount = Array.isArray(data.items) ? data.items.length : 0;
                if (replyCount === 1) {
                  commentCountDiv.innerHTML = '| 1 reply';
                } else if (replyCount > 1) {
                  commentContainer.innerHTML = `| ${replyCount} replies"`;
                } else {
                  commentCountDiv.innerHTML = '| No replies yet - Leave yours';
                }
              })
              .catch(error => console.error("Error fetching webmentions:", error));
          } else {
            console.warn("No matching element found for ID:", sanitizedId);
          }
        });
        </script>
      </div>
      {{ end }}
  </div>
  {{ if or $paginator.HasPrev $paginator.HasNext }}
  <div class="post-nav">
    {{ if $paginator.HasPrev }}
    <span class="prev">
      <a href="{{ $paginator.Prev.URL }}" title="Previous Page"><span class="arrow">← Newer Posts</span></a>
    </span>
    {{ end }}
    {{ if $paginator.HasNext }}
    <span class="next">
      <a href="{{ $paginator.Next.URL }}"><span class="arrow">Older Posts →</span></a>
    </span>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
